/* Font - Poppins*/

@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{

    /* Colors */

    --primary-color: #4361EE;
    --button-hover-color: #3950BE;
    --nav-active-color: #E7EBFD;
    --background-color1: #F5F5FD;
    --background-color2: #EBEFFF;
    --description-color: #555;
    --surface-color: #FFFFFF;
    --border-color: #EBEDF8;
    --text-color: #1B2559;
    --muted-text-color: #8F9BBA;
    --orange-secondary-color: #FF5B5B;
    --red-secondary-color: #FF0080;
    --green-secondary-color: #10B981;
    --purple-secondary-color: #7C3AED;
    --theme-icon-color:#8F9BBA;

    /* Font Sizes */

    --text-xs: 0.75rem;   /* 12px */
    --text-sm: 0.875rem;  /* 14px */
    --text-md: 1rem;      /* 16px */
    --text-lg: 1.125rem;  /* 18px */
    --text-xl: 1.25rem;   /* 20px */
    --text-2xl: 1.5rem;   /* 24px */
    --text-3xl: 2rem;     /* 32px */
    --text-4xl: 2.5rem;   /* 40px */

    /* Font Weight*/

    --text-bold: 700;
    --text-semi-bold: 600;
    --text-medium: 500;
    --text-regular: 400;

    /* Radius */

    --small-radius:4px;
    --medium-radius:8px;
    --large-radius:16px;

    /* Spacing */

    --space-1: 0.25rem;  /* 4px  */
    --space-2: 0.5rem;   /* 8px  */
    --space-3: 0.75rem;  /* 12px */
    --space-4: 1rem;     /* 16px */
    --space-5: 1.5rem;   /* 24px */
    --space-6: 2rem;     /* 32px */
    --space-7: 2.5rem;   /* 40px */
    --space-8: 3rem;     /* 48px */

}

body.dark-mode {
    --background-color1: #1E293B;
    --surface-color: #273548;
    --background-color2: #334155;
    --description-color: #fff;
    --text-color: #F1F5F9;
    --muted-text-color: #94A3B8;
    --border-color: #3F4E66;
    --nav-active-color: rgba(67, 97, 238, 0.15);
    --theme-icon-color:#4361EE;
}

body, aside, .topbar {
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}