
.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 32px;
    height: 72px;
}
.topbar-right {
    display: flex;
    align-items: center;
    gap: 24px;
}
.topbar-profile {
    display: flex;
    align-items: center;
    gap: var(--space-2);
    height: 100%;
}
.topbar-profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
}
.topbar-profile-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
    line-height: 1.2;
    color: var(--text-color);
    font-weight: var(--text-semi-bold);
}
.subject {
    color: var(--muted-text-color);
    font-weight: var(--text-medium);
}
.topbar-actions {
    display: flex;
    gap: var(--space-4);
}

.icon-button {
    background: none;
    border: none;
    cursor: pointer;
    color: var(--muted-text-color);
    position: relative;
}
.notification-button::after {
    content: " ";
    position: absolute;
    top: -3px;
    right: 6px;
    width: 8px;
    height: 8px;
    background: var(--red-secondary-color);
    border-radius: 50%;
}
#theme-button{
    color: var(--theme-icon-color);
}
.icon-button:hover {
    stroke: var(--primary-color);
}