# Environment:
ENVIRONMENT="development"

# PostgreSQL:
DB_URL="jdbc:postgresql://localhost:5432/devsecretaria"
DB_NAME="devsecretaria"
DB_USER="sa"
DB_PASSWORD="DefaultPassword0"

# Brevo:
BREVO_API_URL="https://api.brevo.com/v3/smtp/email"
BREVO_API_KEY=
BREVO_EMAIL=

# Cryptography
SECRET=

# Gemini
AI_MODEL_API_KEY=